// generic reset
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

// reset for mobile
html,
body {
  width: 100;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;

  // delete this...
  // just a greeting for a new install
  background: #111;
  color: white;

  // for removing scroll bar
  //   -ms-overflow-style: none;
  //   scrollbar-width: none;
  // overflow-x: hidden;
}

// for removing scroll bar
body::-webkit-scrollbar {
  //   // removes scroll bar
  //   display: none;
}